@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
:root{
    --red:rgb(245, 44, 9);
}
*{
    padding: 0;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
    font-size: 60.5%;
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
}
html::-webkit-scrollbar{
    width:1.1rem;
}
html::-webkit-scrollbar-track{
    background: #222;
}
html::-webkit-scrollbar-thumb{
    background: var(--red);
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    background: var(--red);
    width: 100%;
    padding: 9px 0;
    z-index: 999;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    margin-left:65px;
}
.list li{
    display: inline-block;
}
.list li a{
    display: block;
    color: #fff;
    font-size: 20px;
    margin: 0 17px 0 17px;
    transition:all 0.3s ease-in-out;
}
.list li a:hover,
.access i:hover{
    color:#333;
}
.access i{
    font-size: 17px;
    color:#fff;
    margin-right:45px;
    transition: all 0.3s ease-in-out;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.search{
    width: 90%;
    display: flex;
}
.search-content{
    width: 100%;
    height: 19px;
    border: 3px solid rgb(34, 34, 34);
    padding: 5px;
    border-radius:6px 0 0 6px ;
}
.content ::placeholder{
    font-size:18px;
}
.search-button{
    width: 42px;
    height: 35px;
    text-align: center;
    font-size: 21px;
    border-radius: 0 6px 6px 0;
    color: #fff;
    background:rgb(34, 34, 34);
    border: 1px solid rgb(34, 34, 34);
    cursor: pointer;
}
/*menu-toggle*/
.menu-toggle{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    display: none;
}
.menu-toggle i{
    position: fixed;
    top:12px;
    left:20px;
}
/*form styling*/
.form-1,.form-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background-color:#666 ;
    text-align: center;
    z-index:102;
}
.login-form,
.sign-up-form,
.form-1,.form-2{
    display: none;
}
.login-form,
.sign-up-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:450px;
    padding: 17px 7px;
    background-color: #fff;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    border-radius: 2px;
    position: relative;
}
.form-cancel:hover{
    color:rgb(201, 59, 7);
    transition:all ease 0.3s;
}
.login-form form,
.sign-up form{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.login-form strong,
.sign-up-form strong{
    color:#222;
    font-size: 40px;
    margin:4px 6px 6px 6px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight:bolder;
}
.login-form input,
.sign-up-form input{
    width:90%;
    height:40px;
    margin:6px 0px;
    padding: 0px 12px;
    border: 1px solid #333;
    outline: none;
    border-radius: 3px;
}
.login-form input::placeholder{
    color:#111;
    font-weight: bolder;
}
.sign-up-form input::placeholder{
    color:#111;
    font-weight: bolder;
}
.login-form input[type="submit"],
.sign-up-form input[type="submit"]
    {
    background:var(--red);
    color:#fff;
    border: none;
    outline: none; 
    font-size: 20px;
    font-weight:500;
    text-transform: uppercase;
    margin-top:10px;
    border-radius: 2px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
}
.form-btns{
    width: 90%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 10px;
}
.form-btns a{
    color: #000;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;

}
.sign-up-btn{
    border-bottom: 1px solid #222;
    line-height: 16px;
}
.forget{
    border-bottom: 1px solid #222;
}
.form-cancel{
    position: absolute;
    right:20px;
    top:10px;
    color:#333;
}
.login-active,
.login-active .login-form{
    display: flex;

}
.sign-up-active,
.sign-up-active .sign-up-form{
    display: flex;

}
/*home styling*/
.item-a{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.image img{
    display: flex;
    justify-content: center;
    align-items: center;
    width:430px;
    width:430px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#autoWidth{
    margin-top: 130px;
}
.heading{
    font-size: 50px;
}
.description{
    font-size: 20px;
}
.star i{
    font-size: 18px;
    color: rgb(255, 255, 15);
    margin-top:5px;
}
.price{
    font-size:50px;
    font-weight: 700;
}
.btn{
    display: inline-block;
    font-size: 25px;
    color: #fff;
    background: var(--red);
    padding: 6px 20px;
    border: 3px solid var(--red);
    border-radius: 6px;
    cursor: pointer;
    margin-top:4px;
    transition: all 0.3s ease-in-out;
}
.btn:hover{
    background: none;
    color:#222;
}
/*similar styling*/
.title{
    font-size: 40px;
    text-align: center;
    font-size: bolder;
    padding:130px 0 50px 0;
    text-transform: uppercase;
}
/*products styling*/
.sub-title{
    font-size: 28px;
    color: #fff;
    padding:5px 10px;
    margin:0 15px;
    background: var(--red);
    border-radius: 6px;
    border-bottom:3px solid rgb(192, 192, 4);
}
.item{
    display: flex;
    flex-wrap: wrap;
}
.card{
    text-align: center;
    border: 2px solid #333;
    margin:13px 26px;
    overflow: hidden;
    position: relative;
}
.card .btn{
    font-size:24px;
    color:#fff;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    opacity: 0;

}
.card .btn:hover{
    top:50%;
    background: var(--red);
    opacity: 1;
    transition-delay: 0.1s;
}
.card::before{
    content:'';
    position: absolute;
    top:-100%;
    left:0;
    height:300px;
    width:300px;
    background: rgba(0,0,0,0.8);
    transition: all 0.2s ease-in-out;
}
.card:hover::before{
    top:0;
}
.card img{
    width: 190px;
    height:190px;
}
h3{
    font-size: 25px;
}
.card p{
    font-size: 16px;
}
.price-tag{
    font-size: 20px;
    font-weight: 600;
}
.discount{
    font-size: 17px;
    color:rgb(0, 128, 64);
    text-decoration: line-through;
}
.offer{
    font-size: 21px;
    color:rgb(247, 11, 11);
}
.btn-1,.btn-2{
    display: inline-block;
    color: #fff;
    background: var(--red);
    border: 3px solid var(--red);
    cursor: pointer;
    margin-top:4px;
    transition: all 0.3s ease-in-out;
    font-size: 20px;
    padding:4px 12px;
    border-radius: 3px;
}
.button i{
    font-size: 18px;
    margin-left:5px;
}
/*offer styling*/
.offer-content{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin:50px;
}
.offer-box{
   width:220px;
   height:220px;
   padding: 55px;
   text-align: center;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
}
   .offer-box:hover{
    box-shadow:0 0 20px 0 rgba(0,0,0,0.3);
    transform:translateY(-20px) ;

}
.offer-box i{
    font-size: 120px;
    color:var(--red)
}
.offer-title{
    font-size:26px;
    color: #111;
    margin-top: 30px;
}
.offer-card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.offer-info h1{
    font-size: 50px;
}
.offer-info p{
    font-size: 30px;
    color: rgb(13, 87, 3);
}
.offer-info .star i{
   color:rgb(8, 6, 161);
}
.offer-info .price{
    color:rgb(209, 3, 3);
}
/*review styling*/
.review{
    background-repeat: no-repeat;
    background-size:cover;
    background:radial-gradient(rgba(218, 10, 3, 0.924),rgba(17, 17, 17, 0.952));
}
.review .title{
    color: #fff;
}
.review-content{
    width: 730px;
    border: 3px solid var(--red);
    border-radius: 50px 14px 50px 14px;
    margin:80px 12px;
}
.review-content p{
    font-size: 20px;
    padding:40px 20px;
    color: #fff;
}
.review-content p i{
    font-size: 27px;
    color:var(--red)
}
/*newsletter styling*/
.newsletter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width:100%;
    height: 70vh;
    background:linear-gradient(rgba(219, 114, 15, 0.924),rgba(60, 13, 228, 0.952));
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.newsletter h1{
    font-size: 55px;
    font-weight: 600;
    padding-top:120px;
}
.newsletter p{
    font-size: 38px;
}
.input-containt{
    width:250px;
    padding:8px;
    border-radius: 30px;
    border: 2px solid #333;
    margin:5px;
    background: #333;
}
.newsletter ::placeholder{
    font-size: 17px;
    color: #fff;
}
.newsletter .btn{
    font-size: 20px;
    border-radius: 27px;
    padding:6px 24px;
    margin-top:7px;
}
/*footer styling*/
footer{
    background: #333;
    padding:40px 0 5px 0;
    text-align: center;
}
.footer-box{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
}
.footer-containt ul{
    display: inline-block;
}
.footer-containt ul li{
    display: block;
    list-style: none;
}
.footer-containt ul li a{
   color: #fff;
   font-size: 20px;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
}
.footer-icons p{
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}
.footer-icons p i{
    color: var(--red);
    margin-right: 10px;
}
.footer-text{
    font-size: 20px;
    color: #fff;
}
.footer-containt ul li a:hover, .footer-icons p:hover{
    color:var(--red)
}
/*media query*/
@media(max-width:1020px){
    .menu-toggle{
      display: block;
    }
    .menu-toggle i.active:before{
        content:'\f00d';
    }
    .navbar .list{
        padding-top:50px;
        text-align: center;
        width:70%;
        height:70vh;
        background:#111;
        display: flex;
        flex-direction: column;
        transition:all 0.3s ease;
        position: fixed; 
        top:0;
        left:-100%;
 }
 .navbar .list.active{
    left:0;
}
    .navbar  .list li a{
        font-size: 27px;
        margin:19px 0;
}
}
@media(max-width:650px){
    .information{
        margin-left:45px;
    }
    .offer-info{
        margin-left:45px;
    }
    .newsletter p{
        font-size: 30px;
    }
}
@media(max-width:548px){
    .logo{
        font-size:25px;
        margin-left: 50px;
    }
    .access i{
        font-size: 16px;
        color:#fff;
        margin-right:14px;
    }
    .image img{
        width:280px;
        height:280px;
    }
    .heading{
        font-size: 46px;
    }

}
@media(max-width:450px){
    .newsletter p{
        font-size: 21px;
    }
}

